* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    display: block;
    color: #4a4a4a;
}

@media only screen and (max-width: 895px) {
    .main-content {
        top: 2.5625rem;
    }
}
  
  /* Header */

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 4rem;
    border-bottom: solid 1px #c6c1c1;
    background-color: white; 
    display: flex;
    align-items: center;
  }

.content {
    display: flex;
    align-items: center;
    width: 100%;
    
}

.colmaracademytext {
    display: flex;
    align-items: center;
}

.colmar-header {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 1.5rem;
}

.colmar-text {
    flex: 1;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: "Roboto-Mono-Regular", sans-serif; 
}

.academy-text {
    flex: 1;
    color: lightgray;
    font-size: 1.5rem;
    font-family: "Roboto-Mono-Regular", sans-serif; 
}
  
header nav ul {
    display: flex;
}

.main-content {
    position: relative;
    top: 4rem; /* To offset for fixed header. */
}

a {
    text-decoration: none;
}

nav a {
    vertical-align: bottom;
    font-size: 1rem;
    color: #4a4a4a;
    font-family: "Roboto-Regular", sans-serif; 
    margin-right: 1rem;
}
  
nav li {
    list-style: none;
}

.icon {
    height: 3rem;
    padding-left: 1.5rem;
}
  
.mobile {
    display: none;
}

.banner, .information {
    width: 100%;
    height: auto;
    border: solid 1px #c6c1c1
}

.banner {
    background-color: lightgray;
}

.banner-image-container {
    display: flex;
    align-items: center;
}

.banner-pic {
    height: auto;
    width: 60%;
    padding: 1.5rem 2rem;
}

.content-center {
    width: 35%;
    text-align: left;
    padding-right: 1.5rem;
} 

.learn-something-new-everyday {
    padding: 1rem 0;
    font-size: 3rem;
}

.foreign-language1 {
    padding: 2rem 0;
    font-size: 2rem;
}

.start-here {
    padding: .5rem 0;
    font-size: 2rem;
    text-align: center;
    background-color: #4a4a4a;
    color: white;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Information Section */

.information {
    display: flex;
    padding: 1rem 1.5rem;
}

.information-image-container {
    width: 60%;
    padding: 0 1.5rem 0 0;
}

.info-pic, .practice, .foreign-language2, .author {
    padding-bottom: 1.5rem;
}

.info-pic {
    height: auto;
    width: 100%;
}

.practice {
    font-size: 3rem;
}

.foreign-language2 {
    font-size: 1rem;
    font-weight: normal;
}

.author {
    font-size: 1rem;
    font-weight: normal;
}


.info-feed{
    width: 40%;
    height: auto;
    border-left: 1px solid;
    border-color: #c6c1c1
}

.info-feed-sub1 {
    display: flex;
    align-items: center;
    border: 1px solid #c6c1c1;
    padding: 0 1rem 1rem;
    line-height: 2rem;
} 

.info-feed-pic {
   width: 35%;
   height: auto;
}

.info-feed-text {
    height: auto;
    padding: 0 2rem;
}

.info-feed-text h3 {
    font-weight: normal;
    font-size: 1rem;
    padding-top: 1rem;
}

.read-more {
    color: rgb(93, 146, 220);
}

.info-feed-sub2 {
    display: flex;
    align-items: center;
    border: 1px solid #c6c1c1;
    padding: 1rem 1rem;
    line-height: 2rem;
} 

.info-feed-sub3 {
    display: flex;
    align-items: center;
    border: 1px solid #c6c1c1;
    background-color: lightgray;
    padding: 1rem 1rem;
    line-height: 2rem;
} 

/* Start Learning Section */

.start-learning {
    background-color: #f3f3f3;
    padding: 0 4.5rem 2rem;
    width: 100%;
    height: auto;
}

.start-learning-text{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.start-learning-content-container-main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    
}
  
.start-learning-box { 
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0 2rem;
    background-color: white;
}
  
.start-learning-image-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.start-learning-image-container img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
  
.start-learning-content {
    padding: 2.5rem;
}
  
.start-learning-box h2 {
    padding-bottom: .5rem;
    font-size: 2.25rem;
    font-weight: bold;
    color: #4a4a4a;
}
  
.start-learning-box h3 {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 300;
    color: #4a4a4a;
    padding: 0.5rem 0;
}