* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

@media only screen and (max-width: 895px) {
    .main-content {
        top: 2.5625rem;
    }
}
  
  /* Header */

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 4rem;
    border-bottom: solid 1px #c6c1c1;
    background-color: white;
    display: flex;
    align-items: center;
  }

header .content {
    display: flex;
    align-items: center;
    width: 100%;
}

header .colmaracademytext {
    display: flex;
    align-items: center;
}

header .colmar-header {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 1.5rem;
}

header .colmar-text {
    flex: 1;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: "Roboto-Mono-Regular", sans-serif; 
   
}

header .academy-text {
    flex: 1;
    color: lightgray;
    font-size: 1.5rem;
    font-family: "Roboto-Mono-Regular", sans-serif; 
   
}
  
header nav ul {
    display: flex;
}

.main-content {
    position: relative;
    top: 4rem; /* To offset for fixed header. */
}

.button {
    border-radius: 4px;
    background-color: #4a4a4a;
    color: white;
}

a {
    text-decoration: none;
}

nav a {
    vertical-align: bottom;
    font-size: 1rem;
    color: #4a4a4a;
    font-family: "Roboto-Regular", sans-serif; 
    margin-right: 1rem;
}
  
nav li {
    list-style: none;
}

header .icon {
    height: 3rem;
    padding-left: 1.5rem;
}
  
header .mobile {
    display: none;
}

div .banner {
    width: 100%;
    background-color: lightgray;
    height: auto;
    border: solid 1px #c6c1c1;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
}

div .banner-pic {
    height: auto;
    width: 60%;
}