html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    display: block;
    color: #4a4a4a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    text-decoration: none;
}

  /* Header */

header {
    position: fixed;
    z-index: 100;
    height: 4rem;
    border-bottom: solid 1px #c6c1c1;
    background-color: white; 
    display: flex;
    align-items: center;
  }

.content {
    display: flex;
    align-items: center;
}

.colmaracademytext {
    width: auto;
    display: flex;
    align-items: center;
}

.colmar-header {
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
    margin-right: 1.5rem;
}

.colmar-text {
    flex: 1;
    font-weight: bold;
    font-size: 1.5rem;
}

.academy-text {
    flex: 1;
    color: lightgray;
    font-size: 1.5rem;
}
  
header nav ul {
    width: auto;
    display: flex;
}

.main-content {
    position: relative;
    top: 4rem; /* To offset for fixed header. */
}

a:active, a:hover {
    color: rgb(216, 216, 216)
}

nav a {
    vertical-align: bottom;
    font-size: 1rem;
    margin-right: 1rem;
}
  
li {
    list-style: none;
    display: inline;
}

li a {
    color: #4a4a4a;
}

.icon {
    height: 3rem;
    padding-left: 1.5rem;
}
  
.mobile {
    display: none;
}

.banner, .information {
    border: solid 1px #c6c1c1
}

.banner {
    background-color: lightgray;
}

.banner-image-container {
    display: flex;
    align-items: center;
    padding: 2rem 1.5rem;
}

.banner-pic {
    width: 60%;
    padding-right: 1.5rem;
}

.content-center {
    width: 35%;
    text-align: left;
} 

.learn-something-new-everyday {
    padding: 1rem 0;
    font-size: 3rem;
}

.foreign-language1 {
    padding: 2rem 0;
    font-size: 2rem;
}

.start-here {
    padding: .5rem 0;
    font-size: 2rem;
    text-align: center;
    background-color: #4a4a4a;
    color: white;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in;
}

.start-here:hover {
    transition: 0.2s ease-out;
    transform: scale(1.01);
}

/* Information Section */

.information {
    display: flex;
    padding: 2rem 0 0 1.5rem;
}

.information-image-container {
    width: 60%;
}

.info-pic, .foreign-language2, .author {
    padding-bottom: 2rem;
}

.info-pic {
    padding-right: 1.5rem;
}

.practice {
    font-size: 3rem;
    padding-bottom: 1.5rem;
}

.foreign-language2 {
    font-size: 1rem;
    font-weight: normal;
}

.author {
    font-size: 1rem;
    font-weight: normal;
}

.info-feed{
    width: 40%;
    border-left: 1px solid;
    border-color: #c6c1c1;
}

.info-feed-sub1 {
    display: flex;
    align-items: center;
    border: 1px solid #c6c1c1;
    line-height: 2rem;
} 

.info-feed-pic1 {
    width: 35%;
    padding: 0 1rem 1rem;
}

.info-feed-text {
    padding: 0 2rem;
}

.info-feed-text h3 {
    font-weight: normal;
    font-size: 1rem;
    padding-top: 1rem;
}

.read-more {
    color: rgb(93, 146, 220);
}

.info-feed-sub2 {
    display: flex;
    align-items: center;
    border: 1px solid #c6c1c1;
    line-height: 2rem;
} 

.info-feed-pic2 {
    width: 35%;
    padding: 1rem 1rem;
}

.info-feed-sub1:hover, .info-feed-sub2:hover {
    background-color: rgb(216, 216, 216);
}

/* Start Learning Section */

.start-learning {
    background-color: #f3f3f3;
    padding: 0 4.5rem 2rem;
}

.start-learning-text, .thesis-text{
   text-align: center;
   padding: 2rem 0;
}

.start-learning-content-container-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2rem; /* Adjust the gap between images as needed */
    justify-content: center;
}
  
.start-learning-box{ 
    display: flex;
    justify-content: center;
    background-color: white;
    transition: 0.3s ease-in;
}

.start-learning-box:hover { 
    transition: 0.3s ease-out;
    transform: scale(1.05);
}
  
.start-learning-image-container {
    display: flex;
    justify-content: center;
}

.start-learning-image-container img {
    display: flex;
    justify-content: center;
}
  
.start-learning-content {
    padding: 2.5rem;
}
  
.start-learning-box h2 {
    padding-bottom: .5rem;
    font-size: 2.25rem;
    font-weight: bold;
    color: #4a4a4a;
}
  
.start-learning-box h3 {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 300;
    color: #4a4a4a;
    padding: 0.5rem 0;
}

/* Thesis Section */

.thesis {
    padding: 0 0.5rem 0 1.5rem;
}

.thesis-content {
    display: flex;
}

.thesis-image-container {
    width: 60%;
    padding: 0 1.5rem 0 0;
}

.thesis-video{
    padding-bottom: 1.5rem;
}

.reimagine-urban {
    font-size: 3rem;
    padding-bottom: 0.5rem;
}

.foreign-language3 {
    font-size: 1rem;
    font-weight: normal;
    padding-bottom: 2rem;
}

.thesis-feed{
    width: 40%;
}

footer {
    display: flex;
    border-top: 1px solid rgb(216, 216, 216);
    padding: 1rem 1.5rem 4rem 1rem;
}

 .terms-desktop {
    display: flex;
    justify-content: flex-end;
}

 footer li {
    width: auto;
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}

@media only screen and (max-width: 480px) {
    
    h1, h2, h3, li, a, .banner-image-container, .banner-pic, .learn-something-new-everyday, 
    .foreign-language1, .start-here, .information, .info-pic, .practice, .foreign-language2, .author, .info-feed-sub1,
    .info-feed-sub2, .info-feed-pic1, .info-feed-text, .info-feed-text h3, .info-feed-pic2, .start-learning, .start-learning-text,
    .start-learning-content-container-main, .thesis-text, .start-learning-content, .thesis, .thesis-content, .thesis-image-container,
    .thesis-video, footer {
        padding: 0;
        margin: 0;
        border: none;
        display: block;
        width: 100%;
        Height: auto;
    }

    head, .content, .start-learning-image-container, .terms-desktop, .information-image-container, .start-learning-content h3,
    .start-learning-content img, .reimagine-urban, .foreign-language3, .thesis-feed{
        display: none;
    }

    header {
        height: 4rem;;
    }

    .mobile {
        display: flex;
    }

    .mobile a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile img {
        display: inline-block;
        object-fit: contain;
        height: 3rem;
    }

    .banner-image-container {
        align-items: center;
    }
    
}